div.doctor {
    text-align: center;
    border: solid;
}

div.doctor-left {
    border-right: solid;
    background-color: lightslategrey;
}

div.doctor-left img {
    margin-top: 10%;
    border-radius: 50%;
    width: 60%;
}

div.doctor-left-infor {
    margin: 10%;
    padding: 5%;
    background-color: #e6e6e6;
    border-radius: 5%;

}

div.doctor-left-infor > h4 {
   margin: 5%;
}

div.doctor-left-infor > h4:first-child {
   font-size: 30px;
   font-weight: bold;
}

div.doctor-right > canvas{
    display: block;
    margin: 0 10%;
}