div.content {
    margin-top: 2%
}

div.doctor {
    text-align: center;
    border: solid;
}

div.doctor-left {
    padding: 2%;
}

div.doctor-left img {
    margin-top: 10%;
    border-radius: 50%;
    width: 60%;
}

div.doctor-left-infor {
    margin: 2%;
    padding: 1%;
    background-color: #e6e6e6;
    border-radius: 5%;

}

div.doctor-left-infor > h4 {
   margin: 5%;
}

div.doctor-left-infor > h4:first-child {
   font-size: 30px;
   font-weight: bold;
}

div.doctor {
    padding: 2%;
}

div.doctor-right > canvas{
    display: block;
    margin: 0 10%;
}

div.medical-date {
    display: flex;
    align-items: center;
}

div.medical-date-1 {
    width: 48%;
}

div.medical-date-2 {
    width: 48%;
}